Web/JSP-Servlet/DemoClientWebService/xml-resources/web-service-references/NewWebService/wsdl/localhost_8080/Demo_Web_Service/NewWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.demo.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.demo.com/">

<xs:element name="getAllSinhVien" type="tns:getAllSinhVien"/>

<xs:element name="getAllSinhVienResponse" type="tns:getAllSinhVienResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllSinhVien">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllSinhVienResponse">
<xs:sequence>
<xs:element name="return" type="tns:sinhVien" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sinhVien">
<xs:sequence>
<xs:element name="ma" type="xs:int"/>
<xs:element name="ten" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>